@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.account-page{
    display: flex;
    justify-content:center;
    flex-direction: column;
    padding-top:90px ;
    background-image: linear-gradient(0deg,#fff, #daf1e3 );
    align-items: center;
}
.account_form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    padding: 24px;
    border-radius: 16px;
    gap:8px;
    min-height:500px;
    min-width: 450px;
    border: 2px solid #54A054;
}
.account_header{
    color:#000;
    font-family: "Rubik";
    font-size: 24px;
}
.account_header--speacial{
    color:#54A054;
}
.account_subheader{
    font-size: 12px;
    color:#b4b0b0;
    font-family: "Rubik";
}
.account_inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
}
.account_field{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    flex-direction: column;
}
.account_field label{
    font-size: 12px;
    color: #54A054;
    font-family: "Poppins";
}
.account_field  svg {
    width: 16px;
    fill: #54A054;
}
.account_form--input{
    border-radius: 12px;
    border:2px solid #54A054;
    width: 100%;
    padding: 4px;
    color:#54A054
}
#map{
    border-radius: 16px;
    border: 2px solid #54A054;
}
.account_form--checklist{
    font-family: "Poppins";
    font-size: 12px;
    color: #54A054;
}
.account_form--checkbox{
    display: none;
}
.account_form--check-label{
    font-size: 8px;
    color: #54A054;
    border-radius: 12px;
    border: 2px solid #54A054;
    padding: 4px;
    transition: all 0.2s;
}
.account_form--checkbox:checked + .account_form--check-label {
    background-color: #c3e9d0;
}
.account_form--check-label:hover{
   background-color: #c3e9d0; 
}
.account_submit{
    width: 100%;
    color: #fff;
    font-family: "Rubik";
    border: 2px solid #54A054;
    background-color: #54A054;
    border-radius: 12px;
    transition: all 0.2s;
}
.account_submit:hover{
   background-color: #c3e9d0;
   color: #54A054;    
}
.account_submit:active{
    transform: translateY(1px);
}
.login{
    font-size: 12px;
    color: #000;
    font-family: "Poppins";
}
.login a{
    text-decoration: none;
    color: #54A054;
}